## Importing and Splitting Data

This dataset is about cars. A text file is provided with the following information:
    buying – the cost of purchasing this vehicle
    maint – the maintenance cost of the vehicle
    doors – the number of doors the vehicle has
    persons – the number of persons the vehicle is capable of transporting
    lug_boot – the cargo capacity of the vehicle
    safety – the safety rating of the vehicle
    car – this is the category that the model attempts to predict

In [1]:
#2
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
#3 data doesn't have headers, so let's create headers
_headers = ['buying', 'main', 'doors', 'persons', 'lug_boot', 'safety', 'car']

In [3]:
#4
df = pd.read_csv('car-data.csv', names=_headers, index_col=None)

In [4]:
#5
df.head()

  buying   main doors persons lug_boot safety    car
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [5]:
#6 create a training and evaluation DataFrame:
training, evaluation = train_test_split(df, test_size=0.3, random_state=0)

In [ ]:
#7 create a validation and test dataset: