## Computing the R2 Score of a Linear Regression Model
As mentioned in the preceding sections, R2 score is an important factor in evaluating the performance of a model. Thus, in this exercise, we will be creating a linear regression model and then calculating the R2 score for it.

The following attributes are useful for our task:

    CIC0: information indices
    SM1_Dz(Z): 2D matrix-based descriptors
    GATS1i: 2D autocorrelations
    NdsCH: Pimephales promelas
    NdssC: atom-type counts
    MLOGP: molecular properties
    Quantitative response, LC50 [-LOG(mol/L)]: This attribute represents the concentration that causes death in 50% of test fish over a test duration of 96 hours.

In [1]:
# import required libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
_headers = ['CIC0', 'SM1', 'GATS1i', 'NdsCH', 'Ndssc','MLOGP', 'response']
df = pd.read_csv('https://raw.githubusercontent.com/'\
                 'PacktWorkshops/The-Data-Science-Workshop'\
                 '/master/Chapter06/Dataset/qsar_fish_toxicity.csv', names=_headers, sep=';')

In [3]:
df.head()

    CIC0    SM1  GATS1i  NdsCH  Ndssc  MLOGP  response
0  3.260  0.829   1.676      0      1  1.453     3.770
1  2.189  0.580   0.863      0      0  1.348     3.115
2  2.125  0.638   0.831      0      0  1.348     3.531
3  3.027  0.331   1.472      1      0  1.807     3.510
4  2.094  0.827   0.860      0      0  1.886     5.390

In [7]:
# split the data
features = df.drop('response', axis=1).values
labels = df[['response']].values
X_train, X_eval, y_train, y_eval = train_test_split(features, labels, test_size=0.2, random_state=0)
X_val, X_test, y_val, y_test = train_test_split(X_eval, y_eval, random_state=0)

In this step, you create two numpy arrays called features and labels. You then proceed to split them twice. The first split produces a training set and an evaluation set. The second split creates a validation set and a test set

In [8]:
model = LinearRegression()

In [9]:
model.fit(X_train, y_train)

LinearRegression()

In [10]:
y_pred = model.predict(X_val)

In [11]:
r2 = model.score(X_val, y_val)
print('R^2 score: {}'.format(r2))

R^2 score: 0.5623861754188691

You see that the R2 score we achieved is 0.56238, which is not close to 1. In the next step, we will be making comparisons.
Compare the predictions to the actual ground truth:

In [12]:
_ys = pd.DataFrame(dict(actuals=y_val.reshape(-1), predicted=y_pred.reshape(-1)))
_ys.head()

   actuals  predicted
0    3.742   4.155885
1    6.143   6.398238
2    4.674   5.183181
3    4.865   3.771333
4    4.732   4.593059

In this step, in the first line, you create a DataFrame by making use of the DataFrame method in pandas. You provide a dictionary as an argument. The dictionary has two keys: actuals and predicted. actuals contains y_vals, which is the actual labels in the validation dataset. predicted contains y_pred, which contains the predictions. Both y_vals and y_pred are two-dimensional matrices, so you reshape them to 1D vectors by using .reshape(-1), which drops the second axis.