## Tuning n_estimators to Reduce Overfitting

In [1]:
#2 import required packages
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
#3/4
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter04/Dataset/openml_phpZNNasq.csv'
df = pd.read_csv(file_url)
df.head()

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,True,False,False,True,False,False,True,True,True,True,False,False,4,False,False,True,mammal
1,antelope,True,False,False,True,False,False,False,True,True,True,False,False,4,True,False,True,mammal
2,bass,False,False,True,False,False,True,True,True,True,False,False,True,0,True,False,False,fish
3,bear,True,False,False,True,False,False,True,True,True,True,False,False,4,False,False,True,mammal
4,boar,True,False,False,True,False,False,True,True,True,True,False,False,4,True,False,True,mammal

In [3]:
#5 remove the animal column using .drop()
df.drop(columns='animal', inplace=True)
y = df.pop('type')
df.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,True,False,False,True,False,False,True,True,True,True,False,False,4,False,False,True
1,True,False,False,True,False,False,False,True,True,True,False,False,4,True,False,True
2,False,False,True,False,False,True,True,True,True,False,False,True,0,True,False,False
3,True,False,False,True,False,False,True,True,True,True,False,False,4,False,False,True
4,True,False,False,True,False,False,True,True,True,True,False,False,4,True,False,True

In [4]:
#6 split the data into training and testing sets
X_train,X_test,y_train,y_test = train_test_split(df, y, test_size=0.4, random_state=188)
#7 instantiate RandomForestClassifier with random_state=42 and n_estimators=1
rf_model = RandomForestClassifier(random_state=42, n_estimators=1)
rf_model.fit(X_train, y_train) #fit the training data

RandomForestClassifier(n_estimators=1, random_state=42)

In [14]:
#8 Make predictions on the training and testing sets
train_preds = rf_model.predict(X_train)
test_preds = rf_model.predict(X_test)
#9 Calculate the accuracy score
train_acc = accuracy_score(y_train, train_preds)
test_acc = accuracy_score(y_test, test_preds)
print(train_acc)
print(test_acc)

0.9166666666666666
0.8048780487804879

In [16]:
#11 instantiate another RandomForestClassifier model with n_estimators=30
rf_model2 =  RandomForestClassifier(random_state=42, n_estimators=30)
rf_model2.fit(X_train, y_train) # fit the training data

# Make predictions on the training and testing sets
train_preds2 = rf_model2.predict(X_train)
test_preds2 = rf_model2.predict(X_test)

# Calculate the accuracy score
train_acc2 = accuracy_score(y_train, train_preds2)
test_acc2 = accuracy_score(y_test, test_preds2)
print(train_acc2)
print(test_acc2)

1.0
0.9024390243902439